<div style="height: 20px;"></div>
<span ng-show="active_tab === 1">Graph 1</span>
<span ng-show="active_tab === 2">Graph 2</span>
<hr>
<div style="height: 30px;"></div>
<div ng-show="active_tab === 1">
    <div class="graph_field">
        <div class="x-axis">X</div>
        <div class="y-axis">Y</div>
        <div ng-repeat="s in table_one">
            <div class="v-point" ng-style="{'left': (($index+1) * 30 - 2) + 'px'}"></div>
            <div class="h-point" ng-style="{'bottom': (($index+1) * 30 - 2) + 'px'}"></div>
            <div class="graph-point" ng-style="{'left': (s.x * 30 - 5) + 'px' , 'bottom': (s.y * 30 - 5) + 'px'}"></div>
        </div>
    </div>
</div>
<div ng-show="active_tab === 2">
    <div class="graph_field">
        <div class="x-axis">X</div>
        <div class="y-axis">Y</div>
        <div ng-repeat="s in table_two">
            <div class="v-point" ng-style="{'left': (($index+1) * 60 - 2) + 'px'}"></div>
            <div class="v-point" ng-style="{'left': (($index+1) * 60 - 30 - 2) + 'px'}"></div>
            <div class="h-point" ng-style="{'bottom': (($index+1) * 60 - 2) + 'px'}"></div>
            <div class="h-point" ng-style="{'bottom': (($index+1) * 60 - 30 - 2) + 'px'}"></div>
            <div class="graph-bar" ng-style="{'left': (s.x * 30 - 60) + 'px', 'height': (s.y * 30) + 'px', 'background-color': 'rgb(' + s.y *10 + ',' + s.y * 20+',' + 200 +')'}"></div>
        </div>
    </div>
</div>