.tab_link, .tab_link:hover  {
    cursor:pointer;
    margin: 10px 10px 0;
    padding-bottom: 4px;
    text-decoration: none;
    color: #3b7cc4;
}

.tab_link.tab-active {
    border-bottom: 3px solid #3b7cc4;
}

.graph_field {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.x-axis {
    position: absolute;
    bottom: -10px;
    right: -16px;
}

.y-axis {
    position: absolute;
    top: -22px;
    left: -6px;
}

.v-point {
    position: absolute;
    width: 2px;
    height: 10px;
    bottom: -5px;
    background-color: black;
}

.h-point {
    position: absolute;
    width: 10px;
    height: 2px;
    left: -5px;
    background-color: black;
}

.graph-point {
    display: block;
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    border-radius: 5px;
}

.graph-bar {
    display: block;
    position: absolute;
    bottom: 0;
    width: 60px;
    background-color: coral;
}