<div style="height: 20px;">
</div>
<a ng-click="active_tab = 1" class="tab_link" ng-class="{'tab-active': active_tab === 1}">Table 1</a>
<a ng-click="active_tab = 2" class="tab_link" ng-class="{'tab-active': active_tab === 2}">Table 2</a>
<hr>
<div ng-show="active_tab === 1">
    <table class="table" style="max-width: 300px">
        <thead>
            <tr>
                <th width="50%">X</th>
                <th width="50%">Y</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="step in table_one">
                <td>{{step.x}}</td>
                <td>{{step.y}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="active_tab === 2">
    <table class="table" style="max-width: 300px">
        <thead>
        <tr>
            <th width="50%">X</th>
            <th width="50%">Y</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="step in table_two">
            <td>{{step.x}}</td>
            <td>{{step.y}}</td>
        </tr>
        </tbody>
    </table>
</div>