<div><a href="" ng-click="go_back()">Go Back</a></div>
<h4>Edit Item</h4>
<form name="edit_item_form" ng-submit="submit_form()">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="item.name" name="name" placeholder="Item's name" required="true">
            <span class="input-group-btn">
                 <button type="submit" class="btn btn-primary" ng-disabled="edit_item_form.$invalid || edit_item_form.$pristine">Save</button>
            </span>
        </div>
    </div>
</form>
