<div><a ui-sref="list_add">Add Item</a> <a href="" ng-click="reload_items()" style="margin-left: 20px;">Reload</a></div>

<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in ls">
        <td width="60%">{{item.name}}</td><td><a ui-sref="list_edit({ itemId: item.id })">Edit</a><a href="" ng-click="remove_item(item.id)" style="margin-left:20px;">Remove</a></td>
    </tr>
    </tbody>
</table>

